body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fbf1c7;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		height: auto;
		padding-top: 50px;
}

.navbar {
		width: 100%; /* Make the navbar extend full width of the viewport */
		max-width: 5000px;
		background-color: #bdae93; /* Background color of the navbar */
		padding: 10px 0; /* Padding around the links */
		text-align: center; /* Centers the text links */
		position: fixed; /* Fixed positioning to keep it at the top */
		top: 0; /* Position the navbar at the very top of the viewport */
		left: 50%; /* Align the navbar to the left edge of the viewport */
		transform: translateX(-50%); /* Precise centering */
		z-index: 1000; /* Ensures the navbar stays on top of other content */
		box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Optional: Adds shadow for better visibility over content */
}

.navbar a {
    color: #3c3836;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* PROJECTS */

.projects-section {
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

.project-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 25px;
		background-color: #ebdbb2;
		border-radius: 10px;
}

.project-item h3 {
    color: #333;
}

.project-item p {
    font-size: 16px;
    color: #666;
}

.project-item a {
    color: black;
    text-decoration: underline;
}

.project-pic {
		display: block;
		margin: 0 auto;
		max-width: 50%;
}


